.menu
  background: #eee
  padding: 10px
  margin: 10px
  display: flex
  flex-direction: column
  align-items: center
  border-radius: 10px
  border: 1px solid $main-color

.menu__title
  text-align: center
  font-family: $menus-font
  font-size: 1.5em
  margin: 10px

.menu__button--closing
  position: absolute
  top: 0
  right: 0
  margin: 5px
  z-index: 2
  &:hover
    color: $main-color
    cursor: pointer

.menu__input
  width: 100%
  margin: 10px 0
  padding: 5px 10px
  border-radius: 10px
  background: #ddd
  color: #000
  font-family: $main-font
  font-size: 1.2em
  &:focus
    background: #fff
    border: none  

.menu__button--submit
  font-size: 1.3em
  border: 1px solid $main-color
  background: lighten($main-color,35%)
  border-radius: 20px
  padding: 5px
  margin-top: 5px
  width: 60%
  text-align: center
  &:hover
    background: lighten($main-color,20%)
    cursor: pointer



// Login menu

.menu--login
  position: absolute
  transition: opacity 0.4s ease
  top: 60px
  right: 0
  z-index: 8
  visibility: hidden
  opacity: 0
  
.menu--login--active
  visibility: visible
  opacity: 1

.menu--login--failed-animation
    background: #fbd2ce
    border: 1px solid #ff9085
    animation-name: shake
    animation-duration: 0.8s
    animation-timing-function: ease-in-out

@keyframes shake
  10%, 90%
    transform: translate3d(-1px, 0, 0)
  20%, 80%
    transform: translate3d(2px, 0, 0)
  30%, 50%, 70%
    transform: translate3d(-4px, 0, 0)
  40%, 60% 
    transform: translate3d(4px, 0, 0)



// Favorites menu

.menu--favorites
  transition: opacity 0.4s ease
  position: absolute
  top: 60px
  right: 0
  opacity: 0
  z-index: 8
  visibility: hidden

.menu--favorites--active
  opacity: 1
  visibility: visible

.menu--favorites-list
  display: flex
  flex-direction: column
  align-items: flex-start
  font-size: 1.3em
  li
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between  
    .material-icons
      margin-right: 5px
  a
    text-align: left
    padding: 5px 10px
    margin: 10px
    width: 100%
    background: #e1e1e1
    border-radius: 10px
    &:hover
      background: darken(#eee,10%)

.menu__button--edit-favorites
  position: absolute
  top: 0
  left: 0
  margin: 5px
  z-index: 2
  &:hover
    color: $main-color
    cursor: pointer

.menu__button--remove-favorites:hover
  color: $main-color
  cursor: pointer

@media (max-width: 470px)
  .menu--favorites, .menu--login
    left: 0
    width: 95%



// Burger Navigation bar

.burger-navigation-bar
  position: absolute
  left: 0
  display: none
  top: -130px
  visibility: hidden
  z-index: 8
  transition: top 0.4s ease

.burger-navigation-bar--active
  top: 62px
  visibility: visible

@media (max-width: 875px)
  .burger-navigation-bar
    display: flex
    background: #f2f2f2
    width: 100%
    justify-content: center
    padding: 20px

@media (max-width: 585px)
  nav
    display: flex
    flex-direction: column




// Mobile Global Search

.mobile-global-search
  position: absolute
  top: 62px
  left: -102%
  visibility: hidden
  display: flex
  background: #f2f2f2
  width: 100%
  justify-content: center
  padding: 20px
  z-index: 8
  transition: left 0.4s ease
  border-bottom: 1px solid $main-color
  input
    color: #000
    font-size: 1.4rem
    border-bottom: 1px solid #000
    background-color: transparent

.mobile-global-search--active
  left: 0
  visibility: visible

.mobile-global-search__field-wrapper
  display: flex
  justify-content: center    

.mobile-global-search__button--close
  position: absolute
  right: 16px

.mobile-global-search-results
  margin: 10px
  display: none
  flex-direction: column
  font-size: 1.2em
  max-height: 160px
  overflow: overlay
  li
    padding: 10px
    display: flex
    flex-direction: row
    border-bottom: 1px solid #ccc
    &:hover
      background: #ccc
      cursor: pointer



// Find A Route Menu

.menu--find-a-route
  position: absolute
  top: 0
  left: 0
  z-index: 5
  transition: all 0.4s ease
  .menu--find-a-route__button--wrapped
    display: none

.menu--find-a-route-content
  display: flex
  flex-direction: column
  align-items: center
  
.find-a-route-wrapped   //TO CONSIDER
  width: 50px
  height: 50px
  display: flex
  justify-content: center
  align-items: center
  .find-a-route-content
    display: none
  .menu--find-a-route__button--wrapped
    display: block
    font-size: 1.4em
    cursor: pointer
  &:hover
    color: $main-color




// Found Route Menu  

.menu--found-route
  position: absolute
  top: 0
  right: 0
  z-index: 5
  ul
    display: flex
    flex-direction: column
    width: fit-content
    font-size: 1.3em
  li
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    a
      text-align: left
      padding: 5px 10px
      margin: 10px
      min-width: 150px
      width: 100%
      background: #e1e1e1
      border-radius: 10px
      display: flex
      flex-direction: row
      align-items: center
      &:hover
        background: darken(#eee,10%)
  p
    font-size: 1.3em 

.menu--found-route-content
  display: flex
  flex-direction: column
  align-items: center

.bar 
  list-style: none
  li 
    position: relative
    &:before
      content: '\25CF'
      margin-right: 10px
      font-size: 20px
    &:after 
      position: absolute
      left: 0
      top: 0
      content: ''
      border-left: 2px solid black
      margin-left: 5px
      height: 100%
    &:first-of-type:after
      top: 50%
    &:last-of-type:after
      top: -50%
//to consider

.fixed-favorites
  position: fixed
  top: 120px

.show-additional-menu
  opacity: 1
  z-index: 5