.table-wrapper
  width: 90%
  margin: 10px

table
  border-collapse: collapse
  width: 100%
  table-layout: fixed
  td, th  
    border-bottom: 1px solid #ddd
    padding: 5px 15px
    text-align: left
    vertical-align: middle
  tr:nth-child(even)
    background-color: #f2f2f2
  tr
    background-color: #f8f8f8
  th
    padding-top: 12px
    padding-bottom: 12px
    text-align: left
    background-color: $main-color
    color: #fff
    vertical-align: middle

.highlited
  background: lighten($additional-color,25%) !important
  .table__link:hover
    color: #000

.table__column-title--sortable:hover
  background: darken($main-color,5%)
  cursor: pointer

.centered
  text-align: center

.table-edit-input
  background: #eee
  border-radius: 8px
  border: 1px solid #bbb
  padding: 3px 10px
  width: 100%
  &:focus
    background: #fff

.table-editor-buttons__td
  display: flex
  flex-direction: row
  justify-content: space-evenly

.table-editor-buttons:hover
  color: $additional-color
  cursor: pointer

.table__editor-tools-button
  position: absolute
  top: -25px
  right: -5px
  z-index: 2
  background: $main-color
  border-radius: 40px
  padding: 5px
  color: #fff
  border: 1px solid #fff
  &:hover
    border: 1px solid $main-color
    color: $main-color
    background: #fff
    cursor: pointer

.table__link:hover
  cursor: pointer
  color: $additional-color

@media (max-width: 450px)
  .table__editor-tools-button
    top: -14px