@font-face
	font-family: "Mission"
	src: url(./../fonts/Mission_Gothic_Regular.otf)
@font-face
	font-family: "Mission"
	src: url(./../fonts/Mission_Gothic_Light.otf)
@font-face
	font-family: "Mission"
	src: url(./../fonts/Mission_Gothic_Thin.otf)

@font-face
	font-family: 'Icons'
	font-style: normal
	font-weight: 400
	src: url(./../fonts/Icons.woff2) format('woff2')

.pictorams
	font-family: 'Icons'
	font-weight: normal
	font-style: normal
	font-size: 24px
	line-height: 1
	letter-spacing: normal
	text-transform: none
	display: inline-block
	white-space: nowrap
	word-wrap: normal
	direction: ltr
	-webkit-font-feature-settings: 'liga'
	-webkit-font-smoothing: antialiased

$logo-font: Mission, 'Mission Gothic Regular'
$menus-font: Mission, 'Mission Gothic Light'
$main-font: Mission, 'Mission Gothic Thin'

$header-color: #f2f2f2
$main-color: #29b8ed

$substrate-bg-color: rgba(255,255,255,0.8)