@import variables
@import bases
@import header-style
@import burger
@import global-search
@import tables
@import filters
@import pagination
@import cards
@import footer-style

@import menus
@import bases

#root
  min-height: 100%
  display: flex
  flex-direction: column

main
  width: 100%
  height: 100%
  display: flex
  flex: auto
  flex-direction: column
  flex-wrap: nowrap
  align-items: center

.substrate
  width: 85%
  height: 100%
  margin: 5px
  border-radius: 8px
  background: #f8f8f8
  z-index: 2
  display: flex
  flex-direction: column
  align-items: center

.page-name
  text-align: center
  margin: 20px
  font-family: $logo-font
  font-size: 2.2em

.google-map--index
  width: 100%
  height: 100%
  flex: auto
  display: contents
  & > div
    width: 100%
    height: 100%
    flex: auto

.google-map--small
  width: 90%
  display: flex
  margin: 20px
  & > div
    min-height: 320px
    width: 100%

@media (max-width: 585px)
  .substrate
    width: 100%
    margin: 0
    border-radius: 0

.icon--closing
  font-size: 24px
  &:hover
    color: $additional-color
    cursor: pointer

.add-transport-buttons
  display: flex
  flex-direction: row
  justify-content: center
  margin: 10px
  input[type="checkbox"],
  input[type="radio"]
    display: none
  input[type="checkbox"]+label:hover
    background: darken(#ccc,5%)
  input[type="checkbox"]:checked+label
    background: darken(#ccc,20%)
  input[type="checkbox"]:checked+label:hover
    background: darken(#ccc,15%)
    
.add-transport-buttons__item
  padding: 5px 7px
  margin: 0 2px
  -webkit-transition: all 0.2s
  transition: all 0.2s
  cursor: pointer
  background: #ccc
  border-radius: 8px
  i
    font-size: 20px

@media (max-width: 450px)
  body, .far, .fa
    font-size: 3.5vw

::-webkit-scrollbar
  width: 12px
::-webkit-scrollbar-track
  -webkit-border-radius: 8px
  border-radius: 8px
::-webkit-scrollbar-thumb
  -webkit-border-radius: 8px
  border-radius: 8px
  background: $main-color
::-webkit-scrollbar-thumb:window-inactive 
  background: lighten($main-color,10%)