{{> html/start title="T-port - Routes" settings=settings }}
{{> html/header }}
<main>
		<div class="substrate">
			<h2>Routes</h2>
			<div class="table-wrapper">
				<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
				<table>
					<tr>
						<th>Route number</th>
						<th>From</th>
						<th>To</th>
					</tr>
					<tr onclick="showCard()">
						<td>90</td>
						<td>Maly pr. VO</td>
						<td>Nevsky pr.</td>
					</tr>
					<tr onclick="showCard()">
						<td>90</td>
						<td>Maly pr. VO</td>
						<td>Nevsky pr.</td>
					</tr>
					<tr onclick="showCard()">
						<td>190</td>
						<td>Bolshoy pr. VO</td>
						<td>Sampsonievsky pr.</td>
					</tr>
					<tr onclick="showCard()">
						<td>190</td>
						<td>Bolshoy pr. VO</td>
						<td>Sampsonievsky pr.</td>
					</tr>
					<tr onclick="showCard()">
						<td>190</td>
						<td>Bolshoy pr. VO</td>
						<td>Sampsonievsky pr.</td>
					</tr>
					<tr onclick="showCard()">
						<td>190</td>
						<td>Bolshoy pr. VO</td>
						<td>Sampsonievsky pr.</td>
					</tr>
					<tr onclick="showCard()">
						<td>190</td>
						<td>Bolshoy pr. VO</td>
						<td>Sampsonievsky pr.</td>
					</tr>
					<tr onclick="showCard()">
						<td>300</td>
						<td>Devyatkino</td>
						<td>Kupchino</td>
					</tr>
					<tr onclick="showCard()">
						<td>300</td>
						<td>Devyatkino</td>
						<td>Kupchino</td>
					</tr>
					<tr onclick="showCard()">
						<td>300</td>
						<td>Devyatkino</td>
						<td>Kupchino</td>
					</tr>
					<tr onclick="showCard()">
						<td>300</td>
						<td>Devyatkino</td>
						<td>Kupchino</td>
					</tr>
					<tr onclick="showCard()">
						<td>300</td>
						<td>Devyatkino</td>
						<td>Kupchino</td>
					</tr>
					<tr onclick="showCard()">
						<td>300</td>
						<td>Devyatkino</td>
						<td>Kupchino</td>
					</tr>
					<tr onclick="showCard()">
						<td>300</td>
						<td>Devyatkino</td>
						<td>Kupchino</td>
					</tr>
				</table>
			</div>
				<div class="pagination-wrapper">
					<div class="pagination">
						<a href="#">&laquo;</a>
						<a href="#" class="pagination--active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">&raquo;</a>
					</div>
				</div>
			<div class="card">
				<div class="bookmark-button" onclick="" wfd-id="102"><i class="far fa-bookmark"></i></div>
				<div class="closing-button" onclick="closeCard(this)"><i class="material-icons close-pic">close</i></div>
				<h3>Route name</h3>
				<div class="table-wrapper">
					<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
					<table>
						<tr>
							<th>Stop</th>
							<th>Time</th>
						</tr>
						<tr>
							<td>Maly pr. VO</td>
							<td>12:00, 13:00, 14:00, 15:00, 16:00, 17:00, 18:00, 19:00, 20:00</td>
						</tr>
						<tr>
							<td>Nevsky pr.</td>
							<td>12:00, 13:00, 14:00, 15:00, 16:00, 17:00, 18:00, 19:00, 20:00</td>
						</tr>
						<tr>
							<td>Bolshoy pr. VO</td>
							<td>12:00, 13:00, 14:00, 15:00, 16:00, 17:00, 18:00, 19:00, 20:00</td>
						</tr>
						<tr>
							<td>Sampsonievsky pr.</td>
							<td>12:00, 13:00, 14:00, 15:00, 16:00, 17:00, 18:00, 19:00, 20:00</td>
						</tr>
						<tr>
							<td>Nevsky pr.</td>
							<td>12:00, 13:00, 14:00, 15:00, 16:00, 17:00, 18:00, 19:00, 20:00</td>
						</tr>
						<tr>
							<td>Bolshoy pr. VO</td>
							<td>12:00, 13:00, 14:00, 15:00, 16:00, 17:00, 18:00, 19:00, 20:00</td>
						</tr>
					</table>
				</div>
					<div class="google-map-on-card">
						<!-- Google Maps -->
						<div id="map"></div>
						<script type="text/javascript" src="/static-assets/js/google-map.js"></script>
						<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
						</script>
						<!-- /Google Maps -->
					</div>
			</div>
		</div>
{{> html/footer }}
{{> html/end }}