{{> html/start title="T-shipping - Transport" settings=settings }}
{{> html/header }}
	<main>
	<section class="content clearfix">
		<h2>Route 66</h2>
		<p class="centered-text"> This route begins in Saint Petersburg, Russia. Then there is a stop in Kopenhagen, Denmark. After that it goes through Atlantic ocean directly to New York, USA.</p>
		<table class="entity_table">
		  <tr>
			<th>Stop number</th>
			<th>Place</th>
			<th>Duration</th>
		  </tr>
		  <tr>
			<td><a href="/nested/stop_card">1</a></td>
			<td>Saint-Petersburg</td>
			<td> - </td>
		  </tr>
		  <tr>
			<td><a href="/nested/stop_card">2</a></td>
			<td>Kopenhagen</td>
			<td>15 hours</td>
		  </tr>
		  <tr>
			<td><a href="/nested/stop_card">3</a></td>
			<td>New York</td>
			<td> - </td>
		  </tr>
		</table>

		<!-- Google Maps -->
		<div id="map"></div>
		<script>
		// Initialize and add the map
		function initMap() {
		
		  var spb = {lat: 59.926789, lng: 30.233772};
		  
		  var kopenhagen = {lat: 55.702399, lng: 12.597341};
		  
		  var ny = {lat: 40.703690, lng: -74.006854};
		  
		  var map_center = {lat: 48.765316, lng: -26.159115};
		  
		  var map = new google.maps.Map(
			  document.getElementById('map'), {zoom: 3, center: map_center});
			  
		  var marker = new google.maps.Marker({position: spb, map: map});
		  var marker = new google.maps.Marker({position: kopenhagen, map: map});
		  var marker = new google.maps.Marker({position: ny, map: map});
		}
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
		</script>
		<!-- /Google Maps -->

	</section>
	</main>
	
{{> html/end }}