{{> html/start title="T-port - Routes" settings=settings }}
{{> html/header }}
<main>
		<div class="substrate">
			<h2>Routes</h2>
			<div class="table-wrapper">
				<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
				<table id="routes-table">
					<tr>
						<th>Route name</th>
						<th>From</th>
						<th>To</th>
					</tr>
				</table>
			</div>
					<div class="google-map-on-card">
						<!-- Google Maps -->
						<div id="map"></div>
						<script type="text/javascript" src="/static-assets/js/google-map.js" async></script>
						<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
						</script>
						<!-- /Google Maps -->
					</div>
			<div class="card">
				<div class="bookmark-button" onclick="addToFavorites(this)" wfd-id="102"><i class="material-icons">bookmark_border</i></div>
				<div class="closing-button" onclick="closeCard(this)"><i class="material-icons close-pic">close</i></div>
				<h3>Route name</h3>
				<div class="table-wrapper" id="route-card--wrapper">
					<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
					<table>
						<tr>
							<th>Stop</th>
							<th>Time</th>
						</tr>
					</table>
				</div>
			</div>
		</div>
{{> html/footer }}
{{> html/end }}