{{> html/start title="T-shipping - Transport" settings=settings }}
{{> html/header }}
    <main>
	<section class="content clearfix">
		<h2>Routes</h2>
		<table class="entity_table">
		  <tr>
			<th>Route number</th>
			<th>From</th>
			<th>To</th>
		  </tr>
		  <tr>
			<td><a href="/nested/route_card">66</a></td>
			<td>Saint-Petersburg</td>
			<td>New York</td>
		  </tr>
		  <tr>
			<td><a href="/nested/route_card">66</a></td>
			<td>Saint-Petersburg</td>
			<td>New York</td>
		  </tr>
		  <tr>
			<td><a href="/nested/route_card">66</a></td>
			<td>Saint-Petersburg</td>
			<td>New York</td>
		  </tr>
		  <tr>
			<td><a href="/nested/route_card">66</a></td>
			<td>Saint-Petersburg</td>
			<td>New York</td>
		  </tr>
		  <tr>
			<td><a href="/nested/route_card">66</a></td>
			<td>Saint-Petersburg</td>
			<td>New York</td>
		  </tr>
		</table>
	</section>
	</main>
	
{{> html/end }}