{{> html/start title="T-port - Routes" settings=settings }}
{{> html/header }}
<main>
		<div class="substrate">
			<h2>Routes</h2>
			<table>
				<tr>
					<th>Route number</th>
					<th>From</th>
					<th>To</th>
				</tr>
				<tr>
					<td>90</td>
					<td>Maly pr. VO</td>
					<td>Nevsky pr.</td>
				</tr>
				<tr>
					<td>90</td>
					<td>Maly pr. VO</td>
					<td>Nevsky pr.</td>
				</tr>
				<tr>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
				</tr>
				<tr>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
				</tr>
				<tr>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
				</tr>
				<tr>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
				</tr>
				<tr>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
				</tr>
				<tr>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
				</tr>
				<tr>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
				</tr>
				<tr>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
				</tr>
				<tr>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
				</tr>
				<tr>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
				</tr>
				<tr>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
				</tr>
				<tr>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
				</tr>
			</table>
		</div>
{{> html/footer }}
{{> html/end }}