{{> html/start title="T-shipping - Transport" settings=settings }}
{{> html/header }}
    <main>
	<section class="content clearfix">
		<h2>Stops</h2>
		<form>
		  <p>Sort by: </p>
		  <select id="sorting" name="places">
			<option value="number">Number</option>
			<option value="routes">Routes</option>
		  </select>
		</form>
		<table class="entity_table">
		  <tr>
			<th>Number</th>
			<th>Routes</th>
			<th>Place</th>
		  </tr>
		  <tr>
			<td><a href="/nested/stop_card">1</a></td>
			<td><a href="/nested/route_card">66</a></td>
			<td>Saint Petersburg</td>
		  </tr>
		  <tr>
			<td><a href="/nested/stop_card">2</a></td>
			<td><a href="/nested/route_card">66</a></td>
			<td>Kopenhagen</td>
		  </tr>
		  <tr>
			<td><a href="/nested/stop_card">3</a></td>
			<td><a href="/nested/route_card">66</a></td>
			<td>New York</td>
		  </tr>
		</table>
		
	<!-- Google Maps -->
	<div id="map"></div>
		<script>
	// Initialize and add the map
	function initMap() {
	
	  var spb = {lat: 59.926789, lng: 30.233772};
	  
	  var kopenhagen = {lat: 55.702399, lng: 12.597341};
	  
	  var ny = {lat: 40.703690, lng: -74.006854};
	  
	  var map_center = {lat: 48.765316, lng: -26.159115};
	  
	  var map = new google.maps.Map(
		  document.getElementById('map'), {zoom: 3, center: map_center});
		  
	  var marker = new google.maps.Marker({position: spb, map: map});
	  var marker = new google.maps.Marker({position: kopenhagen, map: map});
	  var marker = new google.maps.Marker({position: ny, map: map});
	}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
    </script>
	<!-- /Google Maps -->
	
	</section>
	</main>
	
{{> html/end }}