{{> html/start title="T-shipping - Stops" settings=settings }}
{{> html/header }}
	<main>
		<div class="substrate">
			<h2>Stops</h2>
			<div class="filtering-menu">
				<label class="filtering-label">Type:</label>
				<input type="checkbox" name="bus" id="bus" class="filter-by-type"/>
				<label for="bus" class="filtering-item"><i class="material-icons">directions_bus</i> Bus</label>

				<input type="checkbox" name="train" id="train" class="filter-by-type"/>
				<label for="train" class="filtering-item"><i class="material-icons">train</i> Train</label>

				<input type="checkbox" name="tram" id="tram" class="filter-by-type"/>
				<label for="tram" class="last-filtering-label filtering-item"><i class="material-icons">tram</i> Tram</label>
			</div>
			<table>
				<tr>
					<th>Type</th>
					<th>Number</th>
					<th>From</th>
					<th>To</th>
					<th>Seats</th>
				</tr>
				<tr>
					<td><i class="material-icons">directions_bus</i></td>
					<td>90</td>
					<td>Maly pr. VO</td>
					<td>Nevsky pr.</td>
					<td>48</td>
				</tr>
				<tr>
					<td><i class="material-icons">directions_bus</i></td>
					<td>90</td>
					<td>Maly pr. VO</td>
					<td>Nevsky pr.</td>
					<td>48</td>
				</tr>
				<tr>
					<td><i class="material-icons">train</i></td>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
					<td>120</td>
				</tr>
				<tr>
					<td><i class="material-icons">train</i></td>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
					<td>120</td>
				</tr>
				<tr>
					<td><i class="material-icons">train</i></td>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
					<td>120</td>
				</tr>
				<tr>
					<td><i class="material-icons">train</i></td>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
					<td>120</td>
				</tr>
				<tr>
					<td><i class="material-icons">train</i></td>
					<td>190</td>
					<td>Bolshoy pr. VO</td>
					<td>Sampsonievsky pr.</td>
					<td>120</td>
				</tr>
				<tr>
					<td><i class="material-icons">tram</i></td>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
					<td>133</td>
				</tr>
				<tr>
					<td><i class="material-icons">tram</i></td>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
					<td>133</td>
				</tr>
				<tr>
					<td><i class="material-icons">tram</i></td>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
					<td>133</td>
				</tr>
				<tr>
					<td><i class="material-icons">tram</i></td>
					<td>300</td>
					<td>Devyatkino</td>
					<td>Kupchino</td>
					<td>133</td>
				</tr>
			</table>
		</div>

{{> html/footer }}
{{> html/end }}