{{> html/start title="T-port - Transport" settings=settings }}
{{> html/header }}
	<main>
		<div class="substrate">
			<h2>Transport</h2>
			<div class="filters">
				<div class="filtering-menu">
					<input type="checkbox" name="bus" id="bus" class="filter-by-type"/>
					<label for="bus" class="filtering-item filtering-label"><i class="material-icons">directions_bus</i> Bus</label>

					<input type="checkbox" name="train" id="train" class="filter-by-type"/>
					<label for="train" class="filtering-item"><i class="material-icons">train</i> Trolley</label>

					<input type="checkbox" name="tram" id="tram" class="filter-by-type"/>
					<label for="tram" class="last-filtering-label filtering-item"><i class="material-icons">tram</i> Tram</label>
				</div>
				{{> html/route_filtering_menu }}
			</div>
			<div class="table-wrapper">
				<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
				<table id="transport-table">				
					<tr>
						<th>Type</th>
						<th>Number</th>
						<th>Route</th>
						<th>Seats <i class="material-icons">arrow_drop_up</i></th>
					</tr>
				</table>
			</div>
			
				<div class="pagination-wrapper">
					<div class="pagination">
						<a href="#">&laquo;</a>
						<a href="#" class="pagination--active">1</a>
						<a href="#">2</a>
						<a href="#">&raquo;</a>
					</div>
				</div>
				
			<div class="card">
				<div class="bookmark-button" onclick="" wfd-id="102"><i class="far fa-bookmark"></i></div>
				<div class="closing-button" onclick="closeCard(this)"><i class="material-icons close-pic">close</i></div>
				<h3>Transport name</h3>
				<div class="table-wrapper" id="transport-card--wrapper">
					<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
					<table id="transport-card">
					</table>
				</div>
					<div class="google-map-on-card">
						<!-- Google Maps -->
						<div id="map"></div>
						<script type="text/javascript" src="/static-assets/js/google-map.js" async></script>
						<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
						</script>
						<!-- /Google Maps -->
					</div>
			</div>
		</div>
{{> html/footer }}
{{> html/end }}