{{> html/start title="T-port - Transport" settings=settings }}
{{> html/header }}
	<main>
		<div class="substrate">
			<h2>Transport</h2>
			<div class="filters">
				<div class="filtering-menu">
					<label class="filtering-label">Type:</label>
					<input type="checkbox" name="bus" id="bus" class="filter-by-type"/>
					<label for="bus" class="filtering-item"><i class="material-icons">directions_bus</i> Bus</label>

					<input type="checkbox" name="train" id="train" class="filter-by-type"/>
					<label for="train" class="filtering-item"><i class="material-icons">train</i> Trolley</label>

					<input type="checkbox" name="tram" id="tram" class="filter-by-type"/>
					<label for="tram" class="last-filtering-label filtering-item"><i class="material-icons">tram</i> Tram</label>
				</div>
				{{> html/route_filtering_menu }}
			</div>
			<div class="table-wrapper">
				<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
				<table>				
					<tr>
						<th>Type</th>
						<th>Number</th>
						<th>Route</th>
						<th>Seats <i class="material-icons">arrow_drop_up</i></th>
					<tr>
						<td><i class="material-icons">directions_bus</i></td>
						<td>90 <i class="material-icons">star_border</i></td>
						<td>01</td>
						<td>48</td>
					</tr>
					<tr>
						<td><i class="material-icons">directions_bus</i></td>
						<td>90 <i class="material-icons">star_border</i></td>
						<td>02</td>
						<td>48</td>
					</tr>
					<tr>
						<td><i class="material-icons">train</i></td>
						<td>190 <i class="material-icons">star_border</i></td>
						<td>03</td>
						<td>120</td>
					</tr>
					<tr>
						<td><i class="material-icons">train</i></td>
						<td>190 <i class="material-icons">star_border</i></td>
						<td>04</td>
						<td>120</td>
					</tr>
					<tr>
						<td><i class="material-icons">train</i></td>
						<td>190 <i class="material-icons">star_border</i></td>
						<td>05</td>
						<td>120</td>
					</tr>
					<tr>
						<td><i class="material-icons">train</i></td>
						<td>190 <i class="material-icons">star_border</i></td>
						<td>06</td>
						<td>120</td>
					</tr>
					<tr>
						<td><i class="material-icons">train</i></td>
						<td>190 <i class="material-icons">star_border</i></td>
						<td>07</td>
						<td>120</td>
					</tr>
					<tr>
						<td><i class="material-icons">tram</i></td>
						<td>300 <i class="material-icons">star_border</i></td>
						<td>08</td>
						<td>133</td>
					</tr>
					<tr>
						<td><i class="material-icons">tram</i></td>
						<td>300 <i class="material-icons">star_border</i></td>
						<td>09</td>
						<td>133</td>
					</tr>
					<tr>
						<td><i class="material-icons">tram</i></td>
						<td>300 <i class="material-icons">star_border</i></td>
						<td>10</td>
						<td>133</td>
					</tr>
					<tr>
						<td><i class="material-icons">tram</i></td>
						<td>300 <i class="material-icons">star_border</i></td>
						<td>11</td>
						<td>133</td>
					</tr>
				</table>
			</div>
			
				<div class="pagination-wrapper">
					<div class="pagination">
						<a href="#">&laquo;</a>
						<a href="#" class="pagination--active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">&raquo;</a>
					</div>
				</div>
				
			<div class="card">
				<div class="closing-button" onclick="onclick="closeCard(this)""><i class="material-icons close-pic">close</i></div>
				<h3>Transport name</h3>
				<div class="table-wrapper">
					<div class="table-open-editor-tools-button" onclick="editTable(this)"><i class="material-icons">settings</i></div>
					<table>
						<tr>
							<th>Stop</th>
							<th>Time</th>
						</tr>
						<tr>
							<td>Maly pr. VO</td>
							<td>12:00</td>
						</tr>
						<tr>
							<td>Nevsky pr.</td>
							<td>13:00</td>
						</tr>
						<tr>
							<td>Bolshoy pr. VO</td>
							<td>14:00</td>
						</tr>
						<tr>
							<td>Sampsonievsky pr.</td>
							<td>15:00</td>
						</tr>
						<tr>
							<td>Nevsky pr.</td>
							<td>16:00</td>
						</tr>
						<tr>
							<td>Bolshoy pr. VO</td>
							<td>17:00</td>
						</tr>
					</table>
				</div>
					<div class="google-map-on-card">
						<!-- Google Maps -->
						<div id="map"></div>
						<script type="text/javascript" src="/static-assets/js/google-map.js"></script>
						<script async defer
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
						</script>
						<!-- /Google Maps -->
					</div>
			</div>
		</div>
{{> html/footer }}
{{> html/end }}