@charset "UTF-8";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: "Mission";
  src: url(./../fonts/Mission_Gothic_Regular.otf);
}
@font-face {
  font-family: "Mission";
  src: url(./../fonts/Mission_Gothic_Light.otf);
}
@font-face {
  font-family: "Mission";
  src: url(./../fonts/Mission_Gothic_Thin.otf);
}
* {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  vertical-align: bottom;
  text-decoration: none;
  list-style: circle inside;
  pointer-events: auto;
  -webkit-border-radius: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing-box-sizing: border-box;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Mission, "Mission Gothic Thin";
  font-weight: 300;
  background: #fff;
  min-width: 300px;
  min-height: 412px;
}

@media (max-width: 450px) {
  body, .material-icons, .far, .fa {
    font-size: 3.5vw;
  }
}
a {
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
a:active, a:hover, a:visited {
  outline: 0;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

.google-map {
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

.index-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  z-index: 10;
  background: #f2f2f2;
  padding: 5px;
  border-bottom: 2px solid #29b8ed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header__main-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header__burger-wrapper {
  display: none;
}

.header__title {
  font-family: Mission, "Mission Gothic Regular";
  color: #000;
  font-size: 2.7em;
  text-rendering: optimizeLegibility;
  margin-left: 20px;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation-bar__item {
  font-family: Mission, "Mission Gothic Light";
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1.3em;
  margin: 0 10px;
}
.navigation-bar__item:hover {
  color: #29b8ed;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-buttons div {
  margin: 0 10px;
}
.header-buttons div:hover {
  color: #29b8ed;
  cursor: pointer;
}
.header-buttons .material-icons {
  font-size: 32px;
}

@media (max-width: 585px) {
  .header-buttons div {
    margin: 0 5px;
  }

  .header__title {
    margin: 0;
  }

  .navigation-bar__item {
    margin: 5px;
  }

  .global-search {
    display: none;
  }
}
@media (max-width: 875px) {
  .navigation-bar {
    display: none;
  }

  .header__burger-wrapper {
    display: block;
  }
}
.header__burger {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__burger--rotate.active {
  transform: rotate(45deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.header__burger .top {
  stroke-dasharray: 40 160;
}

.header__burger .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.header__burger .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.header__burger.active .top {
  stroke-dashoffset: -64px;
}

.header__burger.active .middle {
  transform: rotate(90deg);
}

.header__burger.active .bottom {
  stroke-dashoffset: -64px;
}

.global-search {
  position: absolute;
  right: 0;
  background: #fff;
  border-radius: 40px;
  height: 48px;
  padding: 3px;
  border: 1px solid #ccc;
}
.global-search:hover > .find-btn {
  background: #ddd;
}
.global-search:hover > .global-search__input {
  width: 200px;
  padding: 0 10px;
}

.global-search__button {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.global-search__button > i {
  font-size: 30px;
  color: #000;
}

.global-search__input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #000;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}
.global-search__input:focus {
  width: 200px;
  padding: 0 10px;
}

.global-search-results {
  position: absolute;
  top: 52px;
  flex-direction: column;
  right: 0;
  max-height: 149px;
  overflow: overlay;
  width: 250px;
  font-size: 1.1em;
  line-height: 1.5em;
  background: #fff;
  border: 1px solid #29b8ed;
  border-radius: 10px;
}
.global-search-results li {
  width: 100%;
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.global-search-results li:hover {
  background: #eee;
  cursor: pointer;
}

.table-wrapper {
  width: 90%;
  margin: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr {
  background-color: #f8f8f8;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #29b8ed;
  color: #fff;
  vertical-align: middle;
}

.table__column-title--sortable:hover {
  background: #14afe9;
  cursor: pointer;
}

.table-edit-input {
  background: #eee;
  border-radius: 10px;
  border: 1px solid #bbb;
  padding: 3px 10px;
  width: 100%;
}
.table-edit-input:focus {
  background: #fff;
}

.table-editor-buttons:hover {
  color: #29b8ed;
  cursor: pointer;
}

.table__editor-tools-button {
  position: absolute;
  top: -25px;
  right: -5px;
  z-index: 2;
  background: #29b8ed;
  border-radius: 40px;
  padding: 5px;
  color: #fff;
  border: 1px solid #fff;
}
.table__editor-tools-button:hover {
  border: 1px solid #29b8ed;
  color: #29b8ed;
  background: #fff;
  cursor: pointer;
}

.table__link:hover {
  cursor: pointer;
  color: #29b8ed;
}

@media (max-width: 450px) {
  .table__editor-tools-button {
    top: -14px;
  }
}
.filters--by-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.filters--by-type input[type=checkbox],
.filters--by-type input[type=radio] {
  display: none;
}
.filters--by-type input[type=checkbox] + label:hover {
  background: #41c0ef;
}
.filters--by-type input[type=checkbox]:checked + label {
  background: #87d7f5;
}
.filters--by-type input[type=checkbox]:checked + label:hover {
  background: #70cff3;
}

.filters--by-type__item {
  cursor: pointer;
  background: #29b8ed;
}
.filters--by-type__item i {
  font-size: 20px;
}

.filters--by-type__item--first {
  border-radius: 40px 0 0 40px;
}

.filters--by-type__item--last {
  border-radius: 0 40px 40px 0;
}

.filters--by-type__item, .filters--by-type__item--first {
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 1.3em;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.filter-wrapper {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.filter__input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}
.filter__input:hover {
  cursor: pointer;
}
.filter__input:focus {
  border-color: #29b8ed;
  cursor: text;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.pagination {
  display: flex;
}
.pagination div {
  color: black;
  font-size: 1.1em;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.pagination div:hover:not(.pagination--active) {
  background-color: #ddd;
  border-radius: 5px;
}

.pagination--active {
  background-color: #29b8ed;
  color: white;
  border-radius: 5px;
}

.card {
  width: 90%;
  border-radius: 20px;
  background: #eee;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transition: opacity 0.4s ease;
  display: flex;
}

.card--modal {
  position: absolute;
  z-index: 13;
  margin: auto;
  top: 0;
  margin: 10px 0;
  left: 5%;
  border: 1px solid #29b8ed;
}

.card__title {
  font-size: 1.5em;
  font-family: Mission, "Mission Gothic Regular";
}

.card--shown {
  opacity: 1;
  display: flex;
}

.card__button--bookmark {
  position: absolute;
  top: -8px;
  right: 40px;
  margin: 5px;
  z-index: 2;
}
.card__button--bookmark:hover {
  color: #29b8ed;
  cursor: pointer;
}
.card__button--bookmark i {
  font-size: 1.8em;
}

.card__button--closing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  z-index: 2;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  opacity: 0.75;
  z-index: 12;
}

.google-map-on-card {
  width: 90%;
  min-height: 400px;
  display: grid;
  margin: 10px;
}

.edit-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  z-index: 2;
}
.edit-button:hover {
  color: #29b8ed;
  cursor: pointer;
}

footer {
  background: #f2f2f2;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  color: #000;
  align-items: baseline;
  justify-content: space-between;
  font-size: 1.1em;
}

.copyright {
  flex: 1;
  text-align: center;
}

.author {
  flex: 1;
}

.company {
  flex: 1;
  text-align: right;
}

.menu {
  background: #eee;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #29b8ed;
}

.menu__title {
  text-align: center;
  font-family: Mission, "Mission Gothic Light";
  font-size: 1.5em;
  margin: 10px;
}

.menu__button--closing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  z-index: 2;
}
.menu__button--closing:hover {
  color: #29b8ed;
  cursor: pointer;
}

.menu__input {
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  background: #ddd;
  color: #000;
  font-family: Mission, "Mission Gothic Thin";
  font-size: 1.2em;
}
.menu__input:focus {
  background: #fff;
  border: none;
}

.menu__button--submit {
  font-size: 1.3em;
  border: 1px solid #29b8ed;
  background: #ceeffb;
  border-radius: 20px;
  padding: 5px;
  margin-top: 5px;
  width: 60%;
  text-align: center;
}
.menu__button--submit:hover {
  background: #87d7f5;
  cursor: pointer;
}

.menu--login {
  position: absolute;
  transition: opacity 0.4s ease;
  top: 60px;
  right: 0;
  z-index: 8;
  visibility: hidden;
  opacity: 0;
}

.menu--login--active {
  visibility: visible;
  opacity: 1;
}

.menu--login--failed-animation {
  background: #fbd2ce;
  border: 1px solid #ff9085;
  animation-name: shake;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

.menu--login__welcome-text {
  margin: 20px;
  font-size: 1.2em;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.menu--favorites {
  transition: opacity 0.4s ease;
  min-width: 180px;
  position: absolute;
  top: 60px;
  right: 0;
  opacity: 0;
  z-index: 8;
  visibility: hidden;
}

.menu--favorites--active {
  opacity: 1;
  visibility: visible;
}

.menu--favorites--fixed {
  position: fixed;
  top: 50px;
}

.menu--favorites-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;
}
.menu--favorites-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu--favorites-list li .material-icons {
  margin-right: 5px;
}

.menu--favorites-list__item {
  text-align: left;
  padding: 5px 10px;
  margin: 10px;
  width: 100%;
  background: #e1e1e1;
  border-radius: 10px;
}
.menu--favorites-list__item:hover {
  background: #d5d5d5;
  cursor: pointer;
}

.menu__button--edit-favorites {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  z-index: 2;
}
.menu__button--edit-favorites:hover {
  color: #29b8ed;
  cursor: pointer;
}

.menu__button--remove-favorites:hover {
  color: #29b8ed;
  cursor: pointer;
}

@media (max-width: 470px) {
  .menu--favorites, .menu--login {
    left: 0;
    width: 95%;
  }
}
.burger-navigation-bar {
  position: absolute;
  left: 0;
  display: none;
  top: -130px;
  visibility: hidden;
  z-index: 8;
  transition: top 0.4s ease;
}

.burger-navigation-bar--active {
  top: 62px;
  visibility: visible;
}

@media (max-width: 875px) {
  .burger-navigation-bar {
    display: flex;
    background: #f2f2f2;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }
}
@media (max-width: 585px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .mobile-global-search {
    display: none;
  }
}
.mobile-global-search {
  position: absolute;
  top: 62px;
  left: -102%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  width: 100%;
  justify-content: center;
  padding: 20px;
  z-index: 8;
  transition: left 0.4s ease;
  border-bottom: 1px solid #29b8ed;
}
.mobile-global-search input {
  color: #000;
  font-size: 1.4rem;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.mobile-global-search--active {
  left: 0;
  visibility: visible;
}

.mobile-global-search__field-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mobile-global-search__button--close {
  position: absolute;
  right: 16px;
}

.mobile-global-search-results {
  margin: 10px;
  flex-direction: column;
  font-size: 1.2em;
  max-height: 160px;
  overflow: overlay;
}
.mobile-global-search-results li {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}
.mobile-global-search-results li:hover {
  background: #ccc;
  cursor: pointer;
}

@media (min-width: 585px) {
  .mobile-global-search {
    display: none;
  }
}
.menu--find-a-route {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.4s ease;
}

.menu--find-a-route-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-a-route-wrapped {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.find-a-route-wrapped .menu--find-a-route__button--wrapped {
  font-size: 1.4em;
  cursor: pointer;
}
.find-a-route-wrapped:hover {
  color: #29b8ed;
}

.menu--found-route {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
.menu--found-route ul {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 1.3em;
}
.menu--found-route li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu--found-route li .menu--found-route-content__entity {
  text-align: left;
  padding: 5px 10px;
  margin: 10px;
  min-width: 150px;
  width: 100%;
  background: #e1e1e1;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu--found-route li .menu--found-route-content__entity:hover {
  background: #d5d5d5;
  cursor: pointer;
}
.menu--found-route p {
  font-size: 1.3em;
}

.menu--found-route-content__time {
  min-width: 50px;
}

.menu--found-route-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  list-style: none;
}
.bar li {
  position: relative;
}
.bar li:before {
  content: "●";
  margin-right: 10px;
  font-size: 20px;
}
.bar li:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-left: 2px solid black;
  margin-left: 5px;
  height: 100%;
}
.bar li:first-of-type:after {
  top: 50%;
}
.bar li:last-of-type:after {
  top: -50%;
}

* {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  vertical-align: bottom;
  text-decoration: none;
  list-style: circle inside;
  pointer-events: auto;
  -webkit-border-radius: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing-box-sizing: border-box;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Mission, "Mission Gothic Thin";
  font-weight: 300;
  background: #fff;
  min-width: 300px;
  min-height: 412px;
}

@media (max-width: 450px) {
  body, .material-icons, .far, .fa {
    font-size: 3.5vw;
  }
}
a {
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
a:active, a:hover, a:visited {
  outline: 0;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

.google-map {
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

.index-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.substrate {
  width: 85%;
  height: 100%;
  margin: 5px;
  border-radius: 10px;
  background: #f8f8f8;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-name {
  text-align: center;
  margin: 20px;
  font-family: Mission, "Mission Gothic Regular";
  font-size: 2.2em;
}

.google-map--index {
  width: 100%;
  height: 100%;
  flex: auto;
  display: contents;
}
.google-map--index > div {
  width: 100%;
  height: 100%;
  flex: auto;
}

.google-map--small {
  width: 90%;
  display: flex;
  margin: 20px;
}
.google-map--small > div {
  min-height: 320px;
  width: 100%;
}

@media (max-width: 585px) {
  .substrate {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
.icon--closing {
  font-size: 24px;
}
.icon--closing:hover {
  color: #29b8ed;
  cursor: pointer;
}

.add-transport-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.add-transport-buttons input[type=checkbox],
.add-transport-buttons input[type=radio] {
  display: none;
}
.add-transport-buttons input[type=checkbox] + label:hover {
  background: #bfbfbf;
}
.add-transport-buttons input[type=checkbox]:checked + label {
  background: #999999;
}
.add-transport-buttons input[type=checkbox]:checked + label:hover {
  background: #a6a6a6;
}

.add-transport-buttons__item {
  padding: 5px 7px;
  margin: 0 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
}
.add-transport-buttons__item i {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #29b8ed;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #58c8f1;
}

/*# sourceMappingURL=styles.css.map */
