#index-section {
	background: $bg-image-url no-repeat center center;
	min-height: 500px;
	padding-top: 5%;
}

.substrate {
	width: 100%;
	height: 100%;
	max-width: 1000px;
    background: $substrate-bg-color;
	margin: auto;
	padding: 20px;
}

#find-a-route-form {
    font-size: 1.2em;
    font-weight: bold;
}

#find-a-route-button {
	max-width: 340px;
	min-width: 200px;
	margin: 10px auto;
	display: block;
}