body {
  font-family: $simple-font;
  font-weight: 300;
  background: $background-color;
  min-width: 300px;
}

header,
footer {
  width: 100%;
}

header {
  z-index: 6;
  padding: 25px;
  h1 {
	  font-family: $title-font;
	  color: $title-font-color;
	  font-size: 42px;
	  font-weight: 400;
	  text-align: center;
  }
}

footer {
  padding: 0 0 20px;
  > div {
	  width: 148px;
	  margin: 50px auto;
	  display: block;
  }
}