@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic)
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab')

$simple-font: 'Open Sans Condensed', Helvetica, Arial, sans-serif
$title-font: 'Roboto Slab', serif
$entity-table-font: "Trebuchet MS", Arial, Helvetica, sans-serif


$background-color: #edeae6
$background-gradient-color-to: #f8f6f5
$title-font-color: #333
$table-highlight-color: #ddd
$borders-color: #ddd
$table-uneven-tr-color: #f2f2f2
$link-hover-color: #bbb

$special-color: #51dcba
$find-a-route-page-color: #309fca

$bg-image-url: url(/static-assets/images/1.jpg)

$substrate-bg-color: rgba(255,255,255,0.8)

