@import variables
@import navigation
@import page-pieces
@import tables
@import login-link
@import pagination
@import find-a-route-section
@import login-form
@import bases
@import crossing-routes-toggle

%centered-and-limited
  width: 100%
  max-width: 900px
  margin: auto

main
  width: 100%

.content
  width: 100%
  padding: 0 10%
  background: linear-gradient(to top, $background-color, $background-gradient-color-to)
  h2
    padding: 28px 0
    font-size: 36px
    font-weight: 400
    text-align: center

.simple-text
  font-size: 28px


.centered-text
  max-width: 900px
  margin: auto
  font-size: 22px

#map
  @extend %centered-and-limited
  height: 400px

form
  @extend %centered-and-limited

select, input[type="time"]
  width: 100%
  margin-top: 20px
  padding: 10px 20px
  border: 2px solid $borders-color
  border-radius: 4px
  opacity: 0.8
  &:hover
    opacity: 1

.flex-container
  @extend %centered-and-limited
  display: flex
  flex-flow: row wrap 
  label
    display: block
  >div
    width: 250px
    margin: 10px auto

label
  font-size: 22px
  margin-right: 20px

.copyright
  clear: both
  display: block
  text-align: center
  color: #666
  font-size: 16px