@import 'variables';
@import 'navigation';
@import 'page-pieces';
@import 'tables';
@import 'login-link';
@import 'pagination';
@import 'find-a-route-section';
@import 'login-form';
@import 'base';

%centered-and-limited {
	width: 100%;
	max-width: 900px;
	margin: auto;
}

main {
  width: 100%;
}

.content{
  width: 100%;
  padding: 0 10% 3% 10%;
  background: linear-gradient(to top, $background-color, $background-gradient-color-to);
  h2 {
	  padding: 36px 0;
	  font-size: 36px;
	  font-weight: 400;
	  text-align: center;
  }
}

.simple-text {
	font-size: 28px;
}

.centered-text {
	max-width: 900px;
	margin: auto;
	font-size: 22px;
}

#map {
    @extend %centered-and-limited;
	height: 400px;
}

form {
    @extend %centered-and-limited;
}

select, input[type="time"] {
    width: 100%;
	margin-top: 20px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    background-color: $special-color;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	&:hover {
		background-color: darken($special-color,15%);
	}
}

.flex-container {
  @extend %centered-and-limited;
  display: flex;
  flex-flow: row wrap;
  label{
	display: block;
  }
  > div {
  width: 250px;
  margin: 10px auto;
  }
}

.copyright {
  clear: both;
  display: block;
  text-align: center;
  color: #666;
  font-size: 16px;
}
