@import variables
@import header-style
@import find-field
@import index-style
@import burger
@import page-pieces
@import bases
@import multiselect

main
  width: 100%
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center

.index-main
  height: 100%

.simple-text
  font-size: 28px

.substrate
  width: 85%
  height: 100%
  margin: 5px
  border-radius: 10px
  background: #f8f8f8
  z-index: 3
  display: flex
  flex-direction: column
  align-items: center
  h2
    text-align: center
    margin: 20px
    font-family: $logo-font
    font-size: 2.2em

.table-wrapper
  width: 90%
  margin: 10px

table
  border-collapse: collapse
  width: 100%
  td, th  
    border-bottom: 1px solid #ddd
    padding: 5px
    text-align: left
    vertical-align: middle
    cursor: pointer
  tr:nth-child(even)
    background-color: #f2f2f2
  tr
    background-color: #f8f8f8
  td:hover
    color: $main-color
  th
    padding-top: 12px
    padding-bottom: 12px
    text-align: left
    background-color: $main-color
    color: #fff
    vertical-align: middle
    &:hover
      background: darken($main-color,5%)

.filtering-menu
  display: flex
  flex-direction: row
  justify-content: center
  margin: 10px
  input[type="checkbox"],
  input[type="radio"]
    display: none
  input[type="checkbox"]+label:hover
    background: lighten($main-color,5%)
  input[type="checkbox"]:checked+label
    background: lighten($main-color,20%)
  input[type="checkbox"]:checked+label:hover
    background: lighten($main-color,15%)
  .filtering-item 
    @extend %filtering-item
    cursor: pointer
    background: $main-color
    i
      font-size: 20px

%filtering-item
  padding: 5px 10px
  font-size: 1.3em
  transition: all 0.2s
  display: flex
  align-items: center

.filtering-label
  border-radius: 40px 0 0 40px
  @extend %filtering-item
  
.last-filtering-label
  border-radius: 0 40px 40px 0

@media (max-width: 585px)
  .substrate
    width: 100%
    margin: 0
    border-radius: 0

.card
  width: 90%
  border-radius: 20px
  background: #eee
  padding: 20px
  display: none
  flex-direction: column
  align-items: center
  margin: 10px
  transition: opacity 0.4s ease
  opacity: 0
  h3
    font-size: 1.5em
    font-family: $logo-font
    
.google-map-on-card
  width: 90%
  min-height: 400px
  display: grid
  margin: 10px

.closing-button
  position: absolute
  top: 0
  right: 0
  margin: 5px
  z-index: 2

.bookmark-button
  position: absolute
  top: -8px
  right: 40px
  margin: 5px
  z-index: 2
  &:hover
    color: $main-color
  i
    font-size: 1.8em

.edit-button
  position: absolute
  top: 0
  left: 0
  margin: 5px
  z-index: 2
  &:hover
    color: $main-color
    cursor: pointer

.show-card
  opacity: 1
  display: flex

.table-edit-td:hover
  color: #000

.table-edit-input
  background: #eee
  border-radius: 10px
  border: 1px solid #bbb
  padding: 3px 10px
  width: 100%
  &:focus
    background: #fff

.table-editor-buttons
  padding: 0px 10px
  text-align: center
  &:hover
    color: $main-color

.table-open-editor-tools-button
  position: absolute
  top: -25px
  right: -5px
  z-index: 2
  background: $main-color
  border-radius: 40px
  padding: 5px
  color: #fff
  border: 1px solid #fff
  &:hover
    border: 1px solid $main-color
    color: $main-color
    background: #fff
    cursor: pointer

@media (max-width: 450px)
  .table-open-editor-tools-button
    top: -14px


.pagination-wrapper
  display: flex
  justify-content: center
  margin: 10px

.pagination
  display: flex
  a
    color: black
    font-size: 1.1em
    padding: 8px 16px
    text-decoration: none
    &:hover:not(.active)
      background-color: #ddd
      border-radius: 5px

.pagination--active
    background-color: $main-color
    color: white
    border-radius: 5px

