{{> html/start title="T-Port" settings=settings }}
{{> html/header }}
    <main>
		<div class="floating-menu">
			<nav>
				<a href="/nested/transport" class="nav-item">transport</a>
				<a href="/nested/stops" class="nav-item">stops</a>
				<a href="/nested/routes" class="nav-item">routes</a>
			</nav>
		</div>
		<div class="mobile-find-field">
			<input type="text" placeholder="Search…">
			<i class="material-icons close-pic" onclick="mobileSearch()">close</i>
		</div>
		<div class="google-map">
			<!-- Google Maps -->
			<div id="map"></div>
			<script>
				function initMap() {
					var spb = {lat: 59.926789, lng: 30.233772};
					var map = new google.maps.Map(
						document.getElementById('map'), {zoom: 10, center: spb});
					var marker = new google.maps.Marker({position: spb, map: map});
				}
			</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
			</script>
			<!-- /Google Maps -->
		</div>

	
	</main>
	
{{> html/footer }}
{{> html/end }}