{{> html/start title="T-Port" settings=settings }}
{{> html/header }}
    <main>
		<div class="floating-menu">
			<nav>
				<a href="/nested/transport" class="nav-item">transport</a>
				<a href="/nested/stops" class="nav-item">stops</a>
				<a href="/nested/routes" class="nav-item">routes</a>
			</nav>
		</div>
		<div class="mobile-find-field">
			<input type="text" placeholder="Search…">
			<i class="material-icons close-pic" onclick="mobileSearch()">close</i>
		</div>
		<div class="google-map">
			<!-- Google Maps -->
			<div id="map"></div>
			<script type="text/javascript" src="/static-assets/js/google-map.js"></script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
			</script>
			<!-- /Google Maps -->
		</div>
		<div class="find-a-route-menu">
			<h2>Find a route</h2>
			<input class="find-a-route-inputs" type="text" placeholder="From">
			<input class="find-a-route-inputs" type="text" placeholder="To">
			<div class="time-interval">
				<input type="time" name="from_time" value="06:00"/>
				<input type="time" name="till_time" value="23:30"/>
			</div>
			<a id="find-a-route-button" href="#">Find</a>
		</div>
		<div class="favorites-menu">
			<h3>Favorites</h3>
			<ul>
				<li><a href="#"><i class="material-icons">directions_bus</i>Bus 46</a></li>
				<li><a href="#"><i class="material-icons">train</i>Train 102</a></li>
				<li><a href="#"><i class="material-icons">tram</i>Tram 59</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i>Maly V.O.</a></li>
				<li><a href="#"><i class="fa fa-map-marker"></i>Nevsky pr.</a></li>
			</ul>
		</div>
		<div class="login-menu">
			<h3>Sign in</h3>
			<input type="text" placeholder="Login">
			<input type="password" placeholder="Password">
			<a id="login-button" href="#">Sign in</a>
		</div>
	</main>
	
{{> html/footer }}
{{> html/end }}