{{> html/start title="T-Port" settings=settings }}
{{> html/header }}
    <!--<main>
		{{> html/burger }}
	<div class="main-section">
		<div id="navigation-menu">
			{{> html/nav_menu }}
		<!</div>
		<div id="main-container">
			<div class="find-a-route-section">
				<div class="substrate">
					<h2>Find a route</h2>
					<form>
						<div class="find-route-form">
							<div class="find-route-field">
								<label for="stopA">From:</label>
								<input type="text" name="stopA" placeholder="Stop A">
							</div>
							<div class="find-route-field">
								<label for="stopB">To:</label>
								<input type="text" name="stopA" placeholder="Stop B">
							</div>
							<div class="find-route-field">
								<label for="time">Time:</label>
								<div id="time-fields">
									<input type="time" name="from_time" min="05:00" max="23:30" value="06:00"/>
									<input type="time" name="till_time" min="05:00" max="23:30" value="23:30"/>
								</div>
							</div>
						</div>
						<input type="submit" value="Find" id="find-a-route-button">
					</form>
				</div>
			</div>
		</div>
		<div id="accessory-menu">
			<div class="menu">
				<h4>Favorites</h4>
				<a href="#" class="nav-item">Route 66</a>
				<a href="#" class="nav-item">Route 100</a>
				<a href="#" class="nav-item">Bus 80</a>
			</div>
		</div>
	</div>
	</main>-->
	
{{> html/footer }}
{{> html/end }}