{{> html/start title="T-Port" settings=settings }}
<div class="index-page-container">
{{> html/header }}
	<script type="text/javascript" src="/static-assets/js/dijkstra.js" async></script>
	<main class="index-main">
		<div class="google-map">
			<!-- Google Maps -->
			<div id="map"></div>
			<script type="text/javascript" src="/static-assets/js/google-map.js" async></script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
			</script>
			<!-- /Google Maps -->
		</div>
		<div class="find-a-route-menu">
			<div class="route-wrapped-ico" onclick="openFindMenu()"><i class="fas fa-route"></i></div>
			<div class="closing-button" onclick="closeFindMenu()"><i class="material-icons close-pic">close</i></div>
			<div class="find-a-route-content">
				<h2>Find a route</h2>
				<input onkeydown="stopsAutoComplete()" class="find-a-route-inputs" type="text" placeholder="From" id="stopA" list="stopsA">
				<datalist id="stopsA"></datalist>
				<input onkeydown="stopsAutoComplete()" class="find-a-route-inputs" type="text" placeholder="To" id="stopB" list="stopsB">
				<datalist id="stopsB"></datalist>
				<input type="time" class="find-a-route-inputs" name="from_time" value="06:00"/>
				<a class="button" id="find-a-route-button" onclick="openFoundRoutes()">Find</a>
			</div>
		</div>
		<div class="found-route-menu">
			<div class="found-route-content-wrapper">
				<h2>Your route</h2>
				<div class="closing-button" onclick="closeFoundRoutes()"><i class="material-icons close-pic">close</i></div>
				<p class="nothing-found-text">Nothing has been found</p>
				<ul class="bar" id="route-list">
				</ul>
			</div>
		</div>
	
{{> html/footer }}
</div>
{{> html/end }}