{{> html/start title="T-shipping" settings=settings }}
<div class="login"><a href="/login">Sign in</a></div>
{{> html/header }}
    <main>
	<section class="content clearfix" id="index-section">
		<div class="substrate">
		<h2>Find a route</h2>
		<form id="find-a-route-form">
		<div class="flex-container">
		  <div>
			  <label for="stopA">From:</label>
			  <select id="sorting" name="places">
				<option value="number">Stop 1</option>
				<option value="places">Stop 2</option>
				<option value="places">Stop 3</option>
			  </select>
		  </div>
		  <div>
			  <label for="stopB">To:</label>
			  <select id="sorting" name="places">
				<option value="number">Stop 1</option>
				<option value="places">Stop 2</option>
				<option value="places">Stop 3</option>
			  </select>
		  </div>
		  <div>
			  <label for="find-a-route-time">Time:</label>
			  <input type="time" name="from_time" min="05:00" max="23:30" value="06:00"/>
			  <input type="time" name="till_time" min="05:00" max="23:30" value="23:30"/>
		  </div>  
		</div>
		<input type="submit" value="Find" id="find-a-route-button">
		</form>
		</div>
	</section>
	</main>
	
{{> html/footer }}
{{> html/end }}