{{> html/start title="T-Port" settings=settings }}
<div class="index-page-container">
{{> html/header }}
	<main class="index-main">
		<div class="google-map">
			<!-- Google Maps -->
			<div id="map"></div>
			<script type="text/javascript" src="/static-assets/js/google-map.js"></script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
			</script>
			<!-- /Google Maps -->
		</div>
		<div class="find-a-route-menu">
			<div class="route-wrapped-ico" onclick="closeFindMenu()"><i class="fas fa-route"></i></div>
			<div class="closing-button" onclick="closeFindMenu()"><i class="material-icons close-pic">close</i></div>
			<div class="find-a-route-content">
				<h2>Find a route</h2>
				<input class="find-a-route-inputs" type="text" placeholder="From">
				<input class="find-a-route-inputs" type="text" placeholder="To">
				<div class="time-interval">
					<input type="time" name="from_time" value="06:00"/>
					<input type="time" name="till_time" value="23:30"/>
				</div>
				<a id="find-a-route-button" href="#">Find</a>
			</div>
		</div>
	
{{> html/footer }}
</div>
{{> html/end }}