{{> html/start title="T-Port" settings=settings }}
<div class="index-page-container">
{{> html/header }}
	<main class="index-main">
		<div class="google-map">
			<!-- Google Maps -->
			<div id="map"></div>
			<script type="text/javascript" src="/static-assets/js/google-map.js"></script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZFGV9mhO59Iuq-gVjzw5CSdXQm4Ibuvc&callback=initMap">
			</script>
			<!-- /Google Maps -->
		</div>
		<div class="find-a-route-menu">
			<div class="route-wrapped-ico" onclick="closeFindMenu()"><i class="fas fa-route"></i></div>
			<div class="closing-button" onclick="closeFindMenu()"><i class="material-icons close-pic">close</i></div>
			<div class="find-a-route-content">
				<h2>Find a route</h2>
				<input onkeydown="stopsAutoComplete()" class="find-a-route-inputs" type="text" placeholder="From" id="stopA" list="stopsA">
				<datalist id="stopsA"></datalist>
				<input onkeydown="stopsAutoComplete()" class="find-a-route-inputs" type="text" placeholder="To" id="stopB" list="stopsB">
				<datalist id="stopsB"></datalist>
				<div class="time-interval">
					<input type="time" name="from_time" value="06:00"/>
					<input type="time" name="till_time" value="23:30"/>
				</div>
				<a id="find-a-route-button" onclick="openFoundRoutes()">Find</a>
			</div>
		</div>
		<div class="found-route-menu">
			<div class="found-route-content-wrapper">
				<h2>Your route</h2>
				<div class="closing-button" onclick="closeFoundRoutes()"><i class="material-icons close-pic">close</i></div>
				<ul class="bar">
					<li>13:00<a href="#"><i class="material-icons">place</i>Nevskiy pr</a></li>
					<li><a href="#"><i class="material-icons">directions_bus</i>Some bus</a></li>
					<li>13:45<a href="#"><i class="material-icons">place</i>Some stop</a></li>
					<li><a href="#"><i class="material-icons">tram</i>Some tram</a></li>
					<li>14:00<a href="#"><i class="material-icons">place</i>Bolshoy pr VO</a></li>
				</ul>
			</div>
		</div>
	
{{> html/footer }}
</div>
{{> html/end }}