<div class="burger-base">
	<div class="burger-menu" onclick="burgerMenuToggle()">
		<div class="icon">
			<div class="bar"></div>
		</div>
	</div>
	<div class="icons">
		<i class="fas fa-bus"></i>
		<i class="fas fa-map-marked-alt"></i>
		<i class="fas fa-route"></i>
	</div>
	<div class="section">
		<div class="cover1">
			<div class="cover2">
				<a class="content" href="/nested/stops"></a>
			</div>
		</div>
	</div>
	<a class="section-static top" href="/nested/transport"></a>
	<a class="section-static bottom" href="/nested/routes"></a>
</div>