<div class="favorites-menu">
	<div class="closing-button" onclick="closeFavorites()"><i class="material-icons close-pic">close</i></div>
	<div class="edit-button" onclick="editFavorites()"><i class="material-icons">more_vert</i></div>
	<h3>Favorites</h3>
	<ul id="favorites-list">
		<li><a href="#"><i class="material-icons">directions_bus</i>Bus AB01</a><div class="delete-button" onclick="removeFromFavorites(this)"><i class="fa fa-minus"></i></div></li>
		<li><a href="#"><i class="material-icons">place</i>Nevsky pr.</a><div class="delete-button" onclick="removeFromFavorites(this)"><i class="fa fa-minus"></i></div></li>
		<li><a href="#"><i class="material-icons">tram</i>Tram TL09</a><div class="delete-button" onclick="removeFromFavorites(this)"><i class="fa fa-minus"></i></div></li>
		<li><a href="#"><i class="material-icons">place</i>Gorkovskaya</a><div class="delete-button" onclick="removeFromFavorites(this)"><i class="fa fa-minus"></i></div></li>
	</ul>
</div>
<div class="login-menu">
	<div class="closing-button" onclick="closeLoginMenu()"><i class="material-icons close-pic">close</i></div>
	<h3>Sign in</h3>
	<input type="text" placeholder="Login" id="login-field" onfocus="loginValidationReset()">
	<input type="password" placeholder="Password" id="password-field" onfocus="loginValidationReset()">
	<a class="button" id="login-button" onclick="signIn()">Sign in</a>
</div>