	<header>
		<div class="header-container">
		  <div class="site-name"><h1 class="drop-shadow"><a href="/">T-Shipping</a></h1></div>
		  <div class="find-field">
				<div class="find-box">
					<input type="text" name="" class="find-txt" placeholder="Search..."/>
					<a class="find-btn">
						<i class="material-icons">search</i>
					</a>
				</div>
			</div>
			<div class="header-buttons">
				<div class="day-night-toggle">
					<div class="button r" id="button-9">
						<input type="checkbox" class="checkbox">
						<div class="knobs">
							<span></span>
						</div>
						<div class="layer"></div>
					</div>
				</div>
				<div class="sign-in-button">
					<a href="#" class="action-button animate blue">
						<i class="material-icons">
							perm_identity
						</i>
					</a>
				</div>
			</div>
		</div>
    </header>