<nav class='menu'>
	<h4>Menu</h4>
	<a href="/nested/transport" class="nav-item">transport</a>
	<a href="/nested/stops" class="nav-item">stops</a>
	<a href="/nested/routes" class="nav-item">routes</a>
</nav>