<div class="select-wrapper">
	<span class="autocomplete-select"></span>
</div>
<script src="/static-assets/js/bundle.min.js"></script>
<script>
	var autocomplete = new SelectPure(".autocomplete-select", {
	options: [
		{
			label: "All",
			value: "all",
		},
		{
			label: "Maly pr VO",
			value: "mal",
		},
		{
			label: "Bolshoy pr",
			value: "bol",
		},
		{
			label: "Nevsky pr",
			value: "ne",
		},
		{
			label: "Sredny pr",
			value: "sr",
		},
		{
			label: "Ligovsky pr",
			value: "lig",
		},
		{
			label: "Liteiny pr",
			value: "lit",
		},
		{
			label: "Nahimova str",
			value: "na",
		},
		{
			label: "Chaikovskogo str",
			value: "ch",
		},
		],
			value: ["all"],
			multiple: true,
			autocomplete: true,
			icon: "fa fa-times",
			onChange: value => { console.log(value); },
		});
</script>