<span class="autocomplete-select"></span>
<script src="/static-assets/js/bundle.min.js"></script>
<script>
	var autocomplete = new SelectPure(".autocomplete-select", {
	options: [
		{
			label: "All Routes",
			value: "all",
		},
		{
			label: "AB01",
			value: "AB01",
		},
		{
			label: "AB02",
			value: "AB02",
		},
		{
			label: "AB03",
			value: "AB03",
		},
		{
			label: "AB06",
			value: "AB06",
		},
		{
			label: "TL07",
			value: "TL07",
		},
		{
			label: "TL09",
			value: "TL09",
		},
		{
			label: "TL12",
			value: "TL12",
		},
		{
			label: "TL14",
			value: "TL14",
		},
		{
			label: "TL20",
			value: "TL20",
		},
		{
			label: "TM04",
			value: "TM04",
		},
		{
			label: "TM09",
			value: "TM09",
		},
		{
			label: "TM10",
			value: "TM10",
		},
		{
			label: "TM18",
			value: "TM18",
		}
		],
			value: ["all"],
			multiple: true,
			autocomplete: true,
			icon: "fa fa-times",
			onChange: value => { console.log(value); },
		});
</script>