<div class="select-wrapper">
	<span class="autocomplete-select"></span>
</div>
<script src="/static-assets/js/bundle.min.js"></script>
<script>
	var autocomplete = new SelectPure(".autocomplete-select", {
	options: [
		{
			label: "All Routes",
			value: "all",
		},
		{
			label: "AB01",
			value: "mal",
		},
		{
			label: "AB02",
			value: "bol",
		},
		{
			label: "AB03",
			value: "ne",
		},
		{
			label: "AB06",
			value: "sr",
		},
		{
			label: "TL07",
			value: "lig",
		},
		{
			label: "TL09",
			value: "lit",
		},
		{
			label: "TL12",
			value: "na",
		},
		{
			label: "TL14",
			value: "ch",
		},
		{
			label: "TL20",
			value: "ch",
		},
		{
			label: "TM04",
			value: "04",
		},
		{
			label: "TM09",
			value: "09",
		},
		{
			label: "TM10",
			value: "10",
		},
		{
			label: "TM18",
			value: "18",
		}
		],
			value: ["all"],
			multiple: true,
			autocomplete: true,
			icon: "fa fa-times",
			onChange: value => { console.log(value); },
		});
</script>