@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: "Mission";
  src: url(/static-assets/fonts/Mission_Gothic_Regular.otf);
}
@font-face {
  font-family: "Mission";
  src: url(/static-assets/fonts/Mission_Gothic_Light.otf);
}
@font-face {
  font-family: "Mission";
  src: url(/static-assets/fonts/Mission_Gothic_Thin.otf);
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #f2f2f2;
  padding: 5px;
  border-bottom: 2px solid #29b8ed;
}
header h1 {
  font-family: Mission, "Mission Gothic Regular";
  color: #000;
  font-size: 2.7em;
  text-rendering: optimizeLegibility;
  margin-left: 20px;
}

nav {
  display: flex;
}

.header-main-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.nav-item {
  font-family: Mission, "Mission Gothic Light";
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1.3em;
  margin: 0 10px;
}
.nav-item:hover {
  text-decoration: underline;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-buttons > div {
  margin: 0 10px;
}
.header-buttons a:hover {
  color: #29b8ed;
}

.material-icons {
  font-size: 32px;
}

.fa-bookmark {
  font-size: 25px;
}

.close-pic {
  position: absolute;
  right: 16px;
}
.close-pic:hover {
  color: #29b8ed;
}

.find-pic, .burger, .floating-menu {
  display: none;
}

.floating-menu {
  position: absolute;
  left: 0;
  top: -130px;
  z-index: 8;
  transition: top 0.4s ease;
}

.mobile-find-field {
  position: absolute;
  top: 0;
  left: -102%;
  display: none;
  background: #f2f2f2;
  width: 100%;
  justify-content: center;
  padding: 20px;
  z-index: 8;
  transition: left 0.4s ease;
}
.mobile-find-field input {
  color: #000;
  font-size: 1.4rem;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

@media (max-width: 585px) {
  .floating-menu {
    top: -130px;
  }

  .find-box {
    display: none;
  }

  .find-pic {
    display: block;
  }

  .header-buttons > div {
    margin: 0 5px;
  }

  header h1 {
    margin: 0;
  }

  nav {
    flex-direction: column;
  }

  .nav-item {
    margin: 5px;
  }

  .mobile-find-field {
    display: flex;
  }
}
@media (max-width: 875px) {
  .floating-menu {
    display: flex;
    background: #f2f2f2;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }

  .navigation-bar {
    display: none;
  }

  .burger {
    display: block;
  }
}
.show-mobile-search {
  left: 0;
}

.show-menu {
  top: 0;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

body {
  width: 100%;
  height: 100%;
  font-family: Mission, "Mission Gothic Thin";
  font-weight: 300;
  background: #fff;
  min-width: 300px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer {
  padding: 20px;
}

.entity_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
}
.entity_table td, .entity_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
.entity_table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.entity_table tr:hover {
  background-color: #ddd;
}
.entity_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #51dcba;
  color: white;
}

td a {
  display: block;
  width: 100%;
  height: 100%;
}

.pagination-centering {
  text-align: center;
  margin: 40px 0;
}

.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination a.active {
  background-color: #51dcba;
  color: white;
  border: 1px solid #51dcba;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

#login, #pass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

* {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  vertical-align: bottom;
  text-decoration: none;
  list-style: circle inside;
  pointer-events: auto;
  -webkit-border-radius: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing: border-box;
  -webkit-box-sizing--moz-box-sizing-box-sizing: border-box;
}

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1;
  width: 100%;
  height: 100%;
}

a {
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
a:active, a:hover, a:visited {
  outline: 0;
  color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
}

.knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  width: 74px;
  height: 36px;
  margin: auto;
  overflow: hidden;
  display: inline-block;
}

.button.r, .button.r .layer {
  border-radius: 100px;
}

#crossing-routes-toggle {
  text-align: center;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #5a687b;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-9 .knobs:before, #button-9 .knobs:after, #button-9 .knobs span {
  position: absolute;
  top: 4px;
  width: 28px;
  height: 28px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-9 .knobs:before {
  color: #fff;
  content: "Day";
  left: 4px;
}

#button-9 .knobs:after {
  color: #2f3640;
  content: "Night";
  right: -24px;
}

#button-9 .knobs:before, #button-9 .knobs:after {
  z-index: 2;
}

#button-9 .knobs span {
  left: 4px;
  background-color: #2f3640;
  z-index: 1;
}

#button-9 .checkbox:checked + .knobs:before {
  left: -24px;
}

#button-9 .checkbox:checked + .knobs:after {
  right: 4px;
}

#button-9 .checkbox:checked + .knobs span {
  left: 42px;
  background-color: #f9f4ef;
}

#button-9 .checkbox:checked ~ .layer {
  background-color: #ebdbca;
}

.find-box {
  background: #fff;
  border-radius: 40px;
  height: 48px;
  padding: 3px;
  border: 1px solid #ccc;
}
.find-box:hover > .find-txt {
  width: 200px;
  padding: 0 10px;
}
.find-box:hover > .find-btn {
  background: #ccc;
}

.find-btn {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.find-btn > i {
  font-size: 30px;
  color: #000;
}

.find-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #000;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  padding: 5px 10px;
  margin-top: 5px;
  float: left;
  border-radius: 10px;
  font-size: 25px;
  text-decoration: none;
}
.action-button:active {
  border-bottom: 1px solid;
}
.action-button i {
  color: #f9f4ef;
}

.blue {
  background-color: #2f3640;
  border-bottom: 5px solid #191d23;
}

main {
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 120px);
}

.simple-text {
  font-size: 28px;
}

.google-map {
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

.copyright {
  display: block;
  text-align: center;
  color: #000;
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
